<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<bean id="waitDAO" class="org.sns.dao.WaitDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="commentDAO" class="org.sns.dao.CommentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="markDAO" class="org.sns.dao.MarkDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="friendDAO" class="org.sns.dao.FriendDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="pageDAO" class="org.sns.dao.PageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="userDAO" class="org.sns.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="messageDAO" class="org.sns.dao.MessageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="thingDAO" class="org.sns.dao.ThingDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- service -->

	<!-- commentService -->
	<bean id="commentService" class="org.sns.service.CommentService">
		<property name="dao" ref="commentDAO"></property>
	</bean>
	<!-- userService -->
	<bean id="userService" class="org.sns.service.UserService">
		<property name="dao">
			<ref bean="userDAO" />
		</property>
	</bean>
	<!-- messageService -->
	<bean id="messageService" class="org.sns.service.MessageService">
		<property name="dao">
			<ref bean="messageDAO" />
		</property>
		<property name="service">
			<ref bean="friendService" />
		</property>
	</bean>
	<!-- waitService -->
	<bean id="waitService" class="org.sns.service.WaitService">
		<property name="waitDAO">
			<ref bean="waitDAO" />
		</property>
		<property name="service">
			<ref bean="friendService" />
		</property>
	</bean>
	<!-- thingService -->
	<bean id="thingService" class="org.sns.service.ThingService">
		<property name="dao">
			<ref bean="thingDAO" />
		</property>
		<property name="service">
			<ref bean="userService" />
		</property>
	</bean>
	<!-- friendService -->
	<bean id="friendService" class="org.sns.service.FriendService">
		<property name="dao">
			<ref bean="friendDAO" />
		</property>
		<property name="waitDAO">
			<ref bean="waitDAO" />
		</property>
		<property name="service">
			<ref bean="userService" />
		</property>
	</bean>
	<!-- action -->


	<bean id="userAction" class="org.sns.action.UserAction">
		<property name="userService" ref="userService" />
	</bean>
	<bean id="imageAction" class="org.sns.action.ImageAction">
		<property name="userService" ref="userService" />
	</bean>
	<bean id="thingImageAction" class="org.sns.action.ThingImageAction">
		<property name="thingService" ref="thingService" />
	</bean>
	<!-- 注册处理 -->

	<bean id="signupAction" class="org.sns.action.SignupAction">
		<property name="userService" ref="userService" />
	</bean>

	<!-- 修改用户信息 -->
	<bean id="modifyInfo" class="org.sns.action.ModifyInformationAction">
		<property name="userService" ref="userService" />
	</bean>
	<!-- 登陆处理 -->
	<bean id="loginAction" class="org.sns.action.LoginAction">
		<property name="userService" ref="userService" />
	</bean>
	<!-- 发布新鲜事 -->
	<bean id="addThingAction" class="org.sns.action.AddThingAction">
		<property name="thingService" ref="thingService" />
	</bean>
	<!-- 获取新鲜事 -->
	<bean id="getThingAction" class="org.sns.action.GetThingAction">
		<property name="thingService" ref="thingService" />
		<property name="userService" ref="userService" />
	</bean>

	<!-- 获取好友新鲜事 -->
	<bean id="getFriendThingAction" class="org.sns.action.GetFriendsThingsAction">
		<property name="thingService" ref="thingService" />
		<property name="userService" ref="userService" />
	</bean>


	<!-- 获取好友列表 -->
	<bean id="getFriendListAction" class="org.sns.action.GetFriendListAction">
		<property name="userService" ref="userService" />
	</bean>
	<!-- 获取消息列表 -->
	<bean id="getMessagesAction" class="org.sns.action.GetMessagesAction">
		<property name="userService" ref="userService" />
	</bean>
	<!-- 请求添加好友 -->
	<bean id="wantFriend" class="org.sns.action.WantFriendAction">
		<property name="userService" ref="userService" />
		<property name="friendService" ref="friendService" />
		<property name="waitService" ref="waitService" />
	</bean>

	<!-- 同意添加好友 -->
	<bean id="agreeFriend" class="org.sns.action.AgreeFriendAction">
		<property name="userService" ref="userService" />
		<property name="friendService" ref="friendService" />

	</bean>
	<!-- 删除好友 -->
	<bean id="deleteFriend" class="org.sns.action.DeleteFriendAction">
		<property name="userService" ref="userService" />
		<property name="friendService" ref="friendService" />
	</bean>
	<!-- 留言 -->
	<bean id="sendMessage" class="org.sns.action.SendMessageAction">
		<property name="userService" ref="userService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<!-- 添加评论 -->

	<bean id="addComment" class="org.sns.action.AddCommentAction">
		<property name="thingService" ref="thingService" />
		<property name="commentService" ref="commentService" />
	</bean>
	<!-- 搜索用户 -->
	<bean id="search" class="org.sns.action.SearchAction">
		<property name="userService" ref="userService" />
	</bean>

	<!-- javaBean -->



</beans>